/* PC */
@media screen and (min-width: 992px) {

    
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991) {
    
    
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }
    
    
}

/* Moblie */
@media screen and (max-width: 767px ) {
    
    
}